<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.zhanba.aime.daemon</string>
	<key>CFBundleName</key>
	<string>aime-daemon</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Aime 后台服务需要使用麦克风进行语音输入。</string>
</dict>
</plist>
